<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
</head>
<body>
    <header>
        <%-include('./partials/header') %>
    </header>
    <main>
        <h1>MI CARRITO</h1>

        <div class="ruta">
            <nav class="pasosCompra">
                <span class="rayaConectora">
                </span>
                <ul>
                    <li class="pasoUno activo">
                    <i class="bi bi-cart4"></i>
                    <p>Mi Carrito</p>
                    </li>
                    <li class="pasoTres ">
                        <i class="bi bi-truck"></i>
                        <p>Envío</p>
                    </li>
                    <li class="pasoCuatro ">
                        <i class="bi bi-credit-card"></i>
                        <p>Pago</p>
                    </li>
                </ul>
                <hr>
            </nav>
        </div>

        <div class="tablaCarrito">
            <div class="detalleProductos">
                <div class="title">
                    <ul>
                        <li id="titleeliminar"> </li>
                        <li id="titleproducto">PRODUCTO</li>
                        <li id="titlecantidad">CANTIDAD</li>
                        <li id="titlesubtotal">SUBTOTAL</li>
                    </ul>
                </div>
                <div class="cadaproductos">
                    <div class="productoindividual">
                        <div class="eliminar">
                            <i class="bi bi-trash3"></i>
                        </div>
                        <div class="elemento">
                            <div class="datosElemento">
                                <div class="imagen">
                                    <img src="<%= product.imagen %>" alt="">
                                </div>
                                <div class="nombre">
                                    <p><%= product.nombre %></p>
                                </div>
                            </div>
                            <div class="numerosElemento">
                                <div class="contadorCantidad">
                                    <button id="menos" type="button">-</button>
        
                                    <input type="text" id="contador" class="form-control" value="1" min="1" />
                  
                                    <button id="mas" type="button">+</button>
                                </div>
                                <div class="valor">
                                    <p>$ <%= product.precio.toLocaleString('es-AR') %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="productoindividual">
                        <div class="eliminar">
                            <i class="bi bi-trash3"></i>
                        </div>
                        <div class="elemento">
                            <div class="datosElemento">
                                <div class="imagen">
                                    <img src="<%= product.imagen %>" alt="">
                                </div>
                                <div class="nombre">
                                    <p><%= product.nombre %></p>
                                </div>
                            </div>
                            <div class="numerosElemento">
                                <div class="contadorCantidad">
                                    <button id="menos" type="button">-</button>
        
                                    <input type="text" id="contador" class="form-control" value="1" min="1" />
                  
                                    <button id="mas" type="button">+</button>
                                </div>
                                <div class="valor">
                                    <p>$ <%= product.precio.toLocaleString('es-AR') %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btnSeguir">
                    <button onclick="location.href='/products'">Seguir Comprando</button>
                </div>
            </div>

            <div class="linea1"></div>

            <div class="precios">
                <h4>TOTAL DEL CARRITO</h4>
                <div class="cuadro">
                    <div class="cadaUno">
                        <p>SUBTOTAL</p>
                        <div class="cadaUnoDetalle">
                            <p>$ <%= product.precio.toLocaleString('es-AR') %></p>
                        </div>
                    </div>
                    <div class="linea2"></div>
                    <div class="cadaUno">
                        <p>ENVIO</p>
                        <div class="cadaUnoDetalle">
                            <select name="Zip" id="Zip">
                                <option value="value1">Capital Federal</option>
                                <option value="value2">Interior del pais</option>
                            </select>
                            <p class="textEnvio"> Costo del Envio $1000</p>
                            <p class="textEnvio2"> Costo del Envio $2000</p>
                        </div>
                    </div>
                    <div class="linea2"></div>
                    <div class="cadaUno">
                        <p>TOTAL DE LA COMPRA</p>
                        <div class="cadaUnoDetalle">
                            <p>$ <%= product.precio.toLocaleString('es-AR') %></p>
                        </div>
                    </div>
                </div>
                <div class="btnFinalizarCompra">
                    <button onclick="alert('¿Está seguro de continuar la compra?');">Finalizar Compra</button>
                </div>
            </div>

        </div>
    </main>
    <footer>
        <%-include('./partials/footer') %>
    </footer>
</body>
</html>
