<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
</head>
<body>
    <header>
        <%-include('./partials/header') %>
    </header>

    <main class="main_Detail">
        <h1> DETALLE </h1>

        <div class="ruta_Product">
            <a href="/">INICIO</a>
            <span>/</span>
            <a href="/"><%= product.categoria %></a>
            <span>/</span>
            <a href="#"><%= product.nombre %></a>
        </div>

        <button onclick="location.href='/products %>'" class="btn_regresar">Volver al Catálogo</button>
        
        <div class="contenedor_Card">
            <div class="card_detail">
                <div class="grupoDetail1">
                    <div class="container">
                        <i class="bi bi-chevron-left"></i>
                        <img src="<%= product.imagen %>" alt="Image 1" class="img_Cards">
                        <i class="bi bi-chevron-right"></i>
                    </div>
    
                    <div class="description">
                        <div class="text-grey">
                            <%= product.categoria %>
                        </div>
        
                        <div class="text-black">
                            <%= product.nombre %>
                        </div>
        
                        <div class="text-red">
                            PRECIO $ <%= product.precio.toLocaleString('es-AR') %>
                        </div>
                        
                        <div class="linea"></div>
        
                        <div class="botonesDetail">
                            <div class="cantidad">
                                <p>CANTIDAD</p>
                                <p>Quedan <%= product.stock %> unid.</p>
        
                                <div class="contadorCantidad">
                                    <button id="menos" type="button">-</button>
        
                                    <input type="text" id="contador" class="form-control" value="1" min="1" />
                  
                                    <button id="mas" type="button">+</button>
                                </div>
                            </div>
        
                            <div class="comprar">
                                <form action="/addProduct/<%= product.id  %>" method="post">
                                    <button class="btnAdmin">
                                        <span class="material-symbols-outlined">shopping_cart</span>
                                    </button>
                                </form>
                                <!-- <button onclick="location.href='/cart/<%=product.id %>'">
                                        <span class="material-symbols-outlined">
                                        shopping_cart</span>
                                    </button> -->
                            </div>
                        </div>
                    </div>
    
                </div>
    
                <div class="linea"></div>
    
                <div class="grupoDetail2">
                    <h4 class="titleDescripcion">DESCRIPCIÓN</h4>
                    <p class="descripcionCompleta"><%= product.detalle %></p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%-include('./partials/footer') %>
    </footer>
</body>
</html>
