<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head') %>
</head>
<body>
    <header>
        <%-include('./partials/header') %>
    </header>
    <main>
        <h1>DETAIL PRODUCT</h1>
        <a href="/">home</a>
        <div class="card" id="user-<%=product.id %>">
            <img src="<%= product.imagen %>" alt="">
            <div class="description">
              <h2><%= product.nombre %></h2>
              <p><%= product.detalle %></p>
              <p><%= product.precio %></p>
              <p><%= product.stock %></p>
              <button onclick="location.href='/products %>'">Volver</button>
            </div>
        </div>
    </main>
    <footer>
        <%-include('./partials/footer') %>
    </footer>
</body>
</html>
