<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head') %>
</head>

<body>
    <header>
        <%-include('./partials/header') %>
    </header>
    <main>
        <h1>CATALOGO PRODUCTOS</h1>

        <!-- Aca deberia ir el span que diga "¡Hola! y el username" -->
        <div class="greeting" <% if (!session.showGreeting) { %>style="display: none;"<% } %>>
                <p>¡Hola! <span class="username">
                        <%= session.username %>
                    </span></p>
                <button class="btn_cart" onclick="location.href='/cart'">
                    Mi Carrito --
                    <i class="bi bi-cart3"></i>
                </button>
                <form action="logOut" method="post">
                    <button class="btn_cart">
                        Cerrar Sesion --
                        <i class="bi bi-x-lg"></i>
                    </button>
                </form>
        </div>

        <div class="buscador">
            <p>Encontrá tu producto</p>
            <div class="form">
                <input type="text">
                <button>Buscar</button>
            </div>
        </div>

        <ul class="catalogo">
            <% products.forEach(function(product) { %>
                <li>
                    <div class="card" id="user-<%=product.id %>">
                        <div class="container">
                            <i class="bi bi-chevron-left"></i>
                            <img src="<%= product.url_imagen_producto %>" alt="Image 1" class="img_Cards">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                        <% product.Categoria.forEach(categoria=> { %>
                            <div class="text-grey">
                                <%= categoria.nombre_categoria %>
                            </div>
                            <% }) %>
                                <div class="text-black">
                                    <%= product.nombre_producto %>
                                </div>
                                <div class="text-red">
                                    PRECIO $ <%= product.precio_producto.toLocaleString('es-AR') %>
                                </div>
                                <div class="botones">
                                    <form action="/addProduct/<%= product.id  %>" method="post">
                                        <button class="btnAdmin">
                                            <span class="material-symbols-outlined">shopping_cart</span>
                                        </button>
                                    </form>
                                    <button onclick="location.href='/detail_Product/<%=product.id %>'"><span>Ver
                                            Detalle</span></button>
                                </div>
                    </div>
                </li>
                <% }); %>
        </ul>
    </main>
    <footer>
        <%-include('./partials/footer') %>
    </footer>
</body>

</html>